.buy-look{

    &--link-wrapper{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;

        @media (min-width: 577px){
            align-items: center;
        }
        @media (max-width: 576px){
            flex-flow: column;
            align-items: center;
        }

        p{
            margin-right: 20px;
        }

        a{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #48385C;
            border: 1px solid #48385C;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            text-decoration: none;
            transition: .3s all ease;

            @media (min-width: 1200px){
                margin-left: 225px;
            }

            &:hover{
                background: #48385C;
                color: #fff;
            }
        }
    }
}