<footer id="footer">
    <div class="content">
        <div class="footer--content">
            <div class="footer--social-medias">
                <div class="footer--logo">
                    <i class="footer-logo"></i>
                </div>
                
                <div class="footer--links-social">
                    <h3>Redes sociais</h3>
                    <a href="https://www.instagram.com/modadelrio/">
                        <i class="ico_instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/ModaDelRio/">
                        <i class="ico_facebook"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCGeujNJJZ7jHKxUaPtJsmWw">
                        <i class="ico_youtube"></i>
                    </a>
                </div>
            </div>
            
            <div class="footer--institucional">
                <h3>Institucional</h3>
                <a href="/politica-de-entrega">Políticas de Entrega</a>
                <a href="/trocas-e-devolucoes">Trocas e Devoluções</a>
                <a href="/politica-de-privacidade">Política de Privacidade</a>
                <a href="/sobre-a-delrio">Sobre a Delrio</a>
            </div>
            
            <div class="footer--contact-us">
                <h3>Fale Conosco</h3>
                <a href="https://delrio.troquefacil.com.br/">Troca Fácil</a>
                <a href="/atendimento">Atendimento Rápido</a>
            </div>
            
            <div class="footer--methods-payment">
                <h3>Formas de pagamento</h3>
                <i class="ico_visa"></i>
                <i class="ico_mastercard"></i>
                <i class="ico_amex"></i>
                <i class="ico_boleto"></i>
                <i class="ico_diners"></i>
                <h3>Tecnologia e Segurança</h3>
                <i class="ico_vtex"></i>
                <i class="lets-encrypt"></i>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="content">
        <div class="copyright--text">
            <p>2021 © Copyright DelRio. Todos os direitos reservados. A loja online DelRio é operada pela Synapcom CNPJ: 27.932.734/0001-65 / Endereço: Avenida Portugal, 46 - Galpão 06 - Lote 08 - Itapevi - SP - CEP: 06696-060</p>
        </div>
        <div class="copyright-logo-SY">
            <a href="https://www.synapcom.com.br/pt-br">
                <i class="logo_SY"></i>
            </a>
        </div>
    </div>
</div>