<div class="topbar">
    <p>Ambiente 100% seguro</p>
</div>

<header class="header">
    <div class="content">
        <div class="header--content">
            <div class="header--logo">
                <a href="/">
                    <i class="logo-delrio"></i>
                </a>
            </div>
            
            <div class="header--progressive-bar">
                <div class="progressive-bar progressive-bar_bag active">
                    <i class="ico_bag"></i>
                    <span>Sacola</span>
                </div>

                <div class="progressive-bar progressive-bar_identification">
                    <i class="ico_profile"></i>
                    <span>Identificação</span>
                </div>

                <div class="progressive-bar progressive-bar_payment">
                    <i class="ico_payment"></i>
                    <span>Pagamento</span>
                </div>

                <div class="progressive-bar progressive-bar_confirmation">
                    <i class="ico_confirmation"></i>
                    <span>Confirmação</span>
                </div>
            </div>
        </div>
    </div>
</header>