.sizebay-sizebay-3-x-SizeBayContainer {
    display: flex !important
}

.sizebay-sizebay-3-x-SizeBayButtonBorder {
    margin-right: 20px !important
}

.sizebay-sizebay-3-x-SizeBayButton__text {
    font-family: Akrobat
}